<!--The content below is only a placeholder and can be replaced.-->
<div id="content" class="col-md-12">
  <header id="header" class="col-md-12">
    <h1>
      {{title}}
    </h1>
  </header>
  <nav class="col-md-12">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/inicio']" routerLinkActive="active">Inicio</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link"  [routerLink]="['/registro']"  routerLinkActive="active">Registro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " [routerLink]="['/vehiculos']" routerLinkActive="active">Vehiculos</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link " [routerLink]="['/factura']" routerLinkActive="active">Factura</a>
      </li>
    </ul>
  </nav>

  <section id="main" class="jumbotron col-lg-12">

    <router-outlet></router-outlet>
  </section>

  <footer id="footer" class="col-lg-12">
    <p>Parqueadero Robert Carvajal</p>
  </footer>

</div>
